form([formGroup]='_form')
  .card
    .card-header
      | New Post
    .card-body
      .col-sm-12
        .form-group.row
          .col-xs-12.col-sm-12.col-md-4.mb-3
            label(for='post_type')
              h2: strong Type
            select#post_type.form-control.form-control-lg
              option Image
              option Video
        .form-group.row(formGroupName='{{ attr }}', *ngFor='let attr of ["title", "note"]')
          .col-12
            label
              h2: strong {{ ('model.post.' + attr) | translate }}
            .row
              .col-12
                .form-group(*ngFor='let el of _form.controls[attr].controls | keyvalue')
                  .input-prepend.input-group
                    .input-group-prepend: span.input-group-text {{ el.key }}
                    input.form-control.form-control-lg(formControlName='{{ el.key }}', size='16', type='text')
                    span.input-group-append
                      button.btn.btn-secondary(
                        type='button',
                        [swal]=`{
                          text: "Are you sure??",
                          type: "question",
                          cancelButtonText: "swal.button.cancel" | translate,
                          confirmButtonText: "swal.button.confirm" | translate,
                          showCancelButton: true,
                          focusCancel: true,
                          width: "350px"
                        }`,
                        (confirm)='unifyLangAttr(_form.controls[attr], el.key)'
                      )
                        i.cui-layers.icons
        .form-group.row
          .col-12
            label Series
            .row
              .col-12
                select2([data]='_exampleData', [width]='150', [cssImport]='true')
  .card
    .card-header
      | xxx
    .card-body
      .col-sm-12
        .form-group.row
          .col-9.col-sm-9.col-md-6.mb-3
            label(for='post_type') Allows
            .row
              .col-4
                .custom-control.custom-checkbox
                  input#allow-emoji.custom-control-input(type='checkbox')
                  label.custom-control-label(for='allow-emoji') Emoji
              .col-4
                .custom-control.custom-checkbox
                  input#allow-comment.custom-control-input(type='checkbox')
                  label.custom-control-label(for='allow-comment') Comment
              .col-4
                .custom-control.custom-checkbox
                  input#allow-capture.custom-control-input(type='checkbox')
                  label.custom-control-label(for='allow-capture') Capture
          .col-3.col-sm-3.col-md-2.mb-3
            label(for='post_type') Masking
            .row
              .col-12
                .custom-control.custom-checkbox
                  input#masked.custom-control-input(type='checkbox')
                  label.custom-control-label(for='masked') Masked
