.app-body
  main.main.d-flex.align-items-center
    .container
      .row
        .col-md-6.mx-auto
          .card.mx-4
            .card-body.p-4
              form
                h1 Register
                p.text-muted Create your account
                .input-group.mb-3
                  .input-group-prepend
                    span.input-group-text
                      i.icon-user
                  input.form-control(type='text', placeholder='Username', autocomplete='username', required='')
                .input-group.mb-3
                  .input-group-prepend
                    span.input-group-text @
                  input.form-control(type='text', placeholder='Email', autocomplete='email', required='')
                .input-group.mb-3
                  .input-group-prepend
                    span.input-group-text
                      i.icon-lock
                  input.form-control(type='password', placeholder='Password', autocomplete='new-password', required='')
                .input-group.mb-4
                  .input-group-prepend
                    span.input-group-text
                      i.icon-lock
                  input.form-control(type='password', placeholder='Repeat password', autocomplete='new-password', required='')
                button.btn.btn-block.btn-success(type='button') Create Account
            .card-footer.p-4
              .row
                .col-6
                  button.btn.btn-block.btn-facebook(type='button')
                    span facebook
                .col-6
                  button.btn.btn-block.btn-twitter(type='button')
                    span twitter
