#partners-list {
  .list-group-item:first-child {
    background-color: #e6e6e6;
    &:hover {
      background-color: #e6e6e6;
    }
  }
  .list-group-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
}
