app-header([fixed]='true', [navbarBrandFull]="{src: 'assets/img/brand/logo-cypress.png', width: 89, height: 25, alt: 'CoreUI Logo'}", [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}", [sidebarToggler]="'lg'", [asideMenuToggler]="'lg'")
  ul.nav.navbar-nav.d-md-down-none
  ul.nav.navbar-nav.ml-auto
    li.nav-item.dropdown(dropdown, placement='bottom right')
      a.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false', dropdownToggle, (click)='false')
        img.img-avatar(src='assets/img/avatars/6.jpg', alt='admin@bootstrapmaster.com')
      .dropdown-menu.dropdown-menu-right(*dropdownMenu, aria-labelledby='simple-dropdown')
        // ng-container
        //   .dropdown-header.text-center
        //     strong {{ 'possessive.mine' | translate: { stuff: pluralize('partner.caption' | translate, _me.managing_partners.length) } }}
        //   a.dropdown-item(href='#', *ngFor='let p of _me.managing_partners')
        //     i.fa.fa-product-hunt
        //     | {{ p.display_name[_settings.currentLanguage] }}
        .dropdown-header.text-center
          strong {{ 'setting.caption.plural' | translate }}
        a.dropdown-item(href='/login')
          i.fa.fa-lock
          | {{ 'signout.caption' | translate }}
.app-body
  app-sidebar([fixed]='true', [display]="'lg'")
    app-sidebar-nav([navItems]='navItems', [perfectScrollbar]='', [disabled]='sidebarMinimized')
    app-sidebar-minimizer
  // Main content
  main.main
    // Breadcrumb
    ol.breadcrumb
      app-breadcrumb
      // Breadcrumb Menu
      li.breadcrumb-menu.d-md-down-none
        ng-container(*ngIf='_currentPartner') {{ _currentPartner.display_name[_settings.currentLanguage] }}
    .container-fluid
      router-outlet
    // /.container-fluid
  app-aside([fixed]='true', [display]='false')
    tabset
      tab
        ng-template(tabHeading): i.fa.fa-users
        .list-group.list-group-accent(*ngIf='_me && _me.managing_partners')
          .list-group-item.list-group-item-accent-secondary.bg-light.text-center.font-weight-bold.text-muted {{ 'possessive.mine' | translate: { stuff: pluralize('partner.caption' | translate, _me.managing_partners.length) } }}
          div#partners-list
            div([ngClass]="['list-group-item', 'list-group-item-divider', 'list-group-item-accent-'+_settings.stateClass[p.state]]", *ngFor='let p of _me.managing_partners', (click)='switchPartnerCheck(p.partner_access_id)')
              div {{ p.display_name[_settings.currentLanguage] }}
              small.text-muted.mr-3
              small.text-muted

swal(#defaultPartnerRevokedSwal, type='warning', [confirmButtonText]="'button.close' | translate", width='380px')
  div(*swalPartial, style='text-align: center')
    p: strong {{ _revokedPartner.display_name[_settings.currentLanguage] }}
    p(align='justify') {{ 'partner.defaultPartnerRevokedMsg' | translate }}

swal(#switchPartnerConfirmSwal, type='question', (confirm)="switchPartnerAction()", [cancelButtonText]="'swal.button.cancel' | translate", [confirmButtonText]="'swal.button.confirm' | translate", [showCancelButton]='true', [focusCancel]='true', width='400px')
  div(*swalPartial, style='text-align: center')
    p
      font(color='green') {{ 'partner.switchConfirmMsg.caption' | translate }}
      br
      strong {{ _gotoPartner.display_name[_settings.currentLanguage] }}
    p([innerHTML]="'partner.switchConfirmMsg.content' | translate")

swal(#switchPartnerFailureSwal, type='error', [text]="'partner.switchFailureMsg.text' | translate", [confirmButtonText]="'button.close' | translate", width='380px')

app-footer
  span Cypress @ 2018
  span.ml-auto
    | Powered by 
    a(href='#') VastPo
