div#paginator
  div#items-per-page
    | {{ 'paginator.itemsPerPage.prefix' | translate }}
    select.form-control-sm
      option(*ngFor='let i of [25,50,75,100]', [value]='i', [selected]='i==model.items_per_page') {{ i }} 
    | {{ 'paginator.itemsPerPage.suffix' | translate }}
  pagination(
    class="pagination-sm",
    [itemsPerPage]="model.items_per_page",
    [totalItems]="model.total_items",
    firstText="&laquo;",
    previousText="&lsaquo;",
    nextText="&rsaquo;",
    lastText="&raquo;",
    [ngModel]="model.page",
    (pageChanged)="pageChange($event)",
    [boundaryLinks]="true",
    [maxSize]="6",
    [rotate]="false"
  )
  div#go-to-page
    | {{ 'paginator.navigateToPage.prefix' | translate }}
    input(type='text', [value]='model.page', (keydown.enter)='pageNavigate($event)', [ngModel]='model.page', onfocus='this.select()')
    | {{ 'paginator.navigateToPage.suffix' | translate }}
