state-navigator(model='post', [(state)]='_state', (stateChanged)='stateChanged($event)')
.card
  .card-header
    i.fa.fa-align-justify
    | Displaying...
    div(style='float: right;')
      button.btn.btn-brand.btn-sm.btn-info.mr-1(type='button', [routerLink]="['new']")
        i.fa.fa-plus
        span Add New
  .card-body
    paginator([(model)]='_posts', (pageChanged)='pageChanged($event)', (pageNavigated)='goToPage($event)')
    table.table.table-striped
      thead
        tr
          th ID
          th Type
          th Title
          th Series
          th Comments
          th Created At
          th Created By
          th State
      tbody
        tr(*ngFor='let _post of _posts.result')
          td {{ _post.external_id.substring(0, _settings.externalId.displayLength) }}
          td {{ _post.post_type }}
          td {{ _post.title[_settings.currentLanguage] }}
          td: ng-container(*ngFor='let _s of _post.series') {{ _s.title[_settings.currentLanguage] }}
          td {{ _post.comments_count }}
          td {{ moment.format(_post.created_at) }}
          td {{ _post.created_by.display_name }}
          td: span([ngClass]="['badge', 'badge-'+_settings.stateClass[_post.state]]") {{ 'states.'+_post.state | translate }}
    paginator([(model)]='_posts', (pageChanged)='pageChanged($event)', (pageNavigated)='goToPage($event)')
spinner
