#state-navigator
  .row(*ngFor='let row of states')
    ng-container(*ngFor='let s of row')
      .col-sm-1(*ngIf='state == s', class='active')
        div: div {{ 'states.'+s | translate }}
      .col-sm-1(*ngIf='state != s')
        div((click)='stateChange({ state: s })'): div {{ 'states.'+s | translate }}
