#state-navigator {
  .row {
    height: 2.5em;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 1em;

    [class*="col-"] {
      cursor: pointer;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 2px;
      padding-right: 2px;
      text-align: center;

      &.active {
        cursor: default;

        > div {
          background: #ffd700;
        }
      }

      > div {
        border: 1px solid;
        border-radius: 0.25rem;
        color: black;
        font-weight: bold;
        height: 100%;

        > div {
          margin-top: 7px;
        }
      }
    }
  }
}
