.app-body
  main.main.d-flex.align-items-center
    .container
      // .row
      //   .col-md-8.mx-auto
      //     alert(dismissible='true', type='danger') Login Failed
      .row
        .col-md-6.mx-auto
          .card-group
            .card.p-4
              .card-body
                form([formGroup]='loginForm')
                  h1 {{ 'signin.caption' | translate }}
                  p.text-muted {{ 'signin.description' | translate }}
                  .input-group.mb-3
                    .input-group-prepend
                      span.input-group-text
                        i.icon-user
                    input.form-control(type='text', name='login', formControlName='login', [placeholder]="'email.full' | translate", autocomplete='email', required='')
                  .input-group.mb-4
                    .input-group-prepend
                      span.input-group-text
                        i.icon-lock
                    input.form-control(type='password', name='password', formControlName='password', [placeholder]="'password.caption' | translate", autocomplete='current-password', required='')
                  .row
                    .col-6
                      button.btn.btn-primary.px-4(type='submit', (click)='login()') {{ 'signin.caption' | translate }}
                    .col-6.text-right
                      button.btn.btn-link.px-0(type='button') {{ 'password.forgot' | translate }}?
            // .card.text-white.bg-primary.py-5.d-md-down-none(style='width:44%')
            //   .card-body.text-center
            //     div
            //       h2 {{ 'signup.caption' | translate }}
            //       p {{ 'signup.description' | translate }}
            //       button.btn.btn-primary.active.mt-3(type='button') {{ 'signup.encourage' | translate }}

swal(
  #deleteSwal,
  [title]="'signin.failure.title' | translate",
  [text]="'signin.failure.text' | translate: { login: ('username.caption' | translate).toLowerCase() }",
  [confirmButtonText]="'button.close' | translate",
  width="400px"
)
